@font-face {
    font-family:roboto;
    src: url(./fonts/Roboto/Roboto-Black.ttf);
  }
body{
    margin: 0;
    padding: 0;
    font-family: roboto;
}
.navbar
{
    height: 60px;
    width: 100%;
    color: white;
    margin-top: 0px;
    vertical-align: top;
    background-color: blue;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    /* background-color: aquamarine; */
}



.logo,.cart{
    /* position: absolute; */
    height: 60px;
    display: inline-block;
    width: 24%;
    margin-top: 0;
    margin-left: 25%;
    
    overflow: hidden;
}

.logo{
    margin-left: 50px;
    margin-top: 10px;
}

#mybut {
    width: 200px;
    height: 30px;
    background-color: skyblue;
    color:black;
    transition: all 0.2s;
    border-radius: 20px;
    border: none;
    text-decoration: none;
    margin-top: 10px;
}


@media only screen and (max-width: 600px) {
    #mybut {
        width: 80px;
        height: 25px;
        margin-top: 2px;
    }
}



#mybut a{
    text-decoration: none;
    color: black;
}


.cart{
    position: relative;

}
.cart:hover{
    /* filter: invert(100%); */
    cursor: pointer;
}
.cart img{
    display: inline-block;
    margin-top:10px;
    vertical-align: top;
    margin-left: 120px;
    
}

@media only screen and (max-width: 600px) {
    .cart img {
        margin-left: -2px;
        margin-top: -4px;
         
    }

}

.cart span{
    margin-left: 120px;
    margin-top: 2px;
}

@media only screen and (max-width: 600px) {
    .cart span {
        margin-left: 2px;
        margin-top: -2px;
         
    }

}



.badge
{
    position:absolute; 
    left:30px; 
    top:0px; 
    z-index: 100;
}
.items
{
    display: flex;
    margin-top: 80px;
    margin-left: 100px;
    text-align: center;
    flex-wrap: wrap;
    
}


.productItem{
    border-right: 0.5px solid gray;
    border-bottom: 0.5px solid gray;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 10px;
    display:inline-block;

}

@media only screen and (max-width: 600px) {
    .productItem {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 120px;
        margin-right: 5px;
    }
}

@media only screen and (max-width: 1024px) {
    .productItem {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 80px;
        margin-right: 10px;
    }
}

.item:nth-child(1)
{
    margin-bottom: -50px;
    padding-bottom: -80px;
}
.item{
    margin-right: 40px;
    margin-left: 20px;
    margin-bottom: 0px;
    position: relative;
    overflow: hidden;
    display:inline-block;
    
}
.item img{
    height: 100px;
    width: 150px;
    margin-bottom: 20px;
}

.item p{
    font-size: 14px;
    text-align: center;
}


.item .product-name
{
    padding: 5px;
    font-family: roboto;
    text-align: center;
}
.item .product-price
{
    text-align: center;
    font-size: 15px;
}
.item .btn
{
    text-align: center;
    margin-left: 15%;
    font-size: 14px;
    text-transform: uppercase;
    background-color: blue;
    color:white;
    transition: all 0.2s;
    border-radius: 20px;
    border: none;
}

.item .btn:hover {
    transform: translateY(3px);
    box-shadow: 0 40px 80px rgba(0, 0, 0, 0.2);
  }
  
  .item .btn:active {
    transform: translateX(2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    
  }

.run-cart-animation{
    animation: shake 0.5s;
  /* animation-iteration-count: infinite; */

}

.footDiv{
    margin-top: 30px;
    height: 20px;
    width: 100%;
    padding: 0px;
}
.footDiv p{
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
}



.out-of-stock
{
    text-align: center;
    width: 80%;
    margin-left: 10%;
    border: 2px solid orange;
}

/* image tilt */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


  /* modal  css*/


  .modal {
       overflow: auto !important;
     }



  .modal-item
{
    /* display: inline-block; */
    vertical-align: top;
    width: 100%;
    height: 100%;
    
}

.myImg,.modal-plus,.modal-qty,.modal-sub,.modal-product-price,.modal-product-rupee,.modal-remove
{
    display: inline-block;
    padding: 2px;
}
.myImg img{
    width: 70px;
    height: 50px;
}
.modal-plus,.modal-sub{
    height: 30px;
    vertical-align:top;
    width: 50px;
    font-size: 20px;
    line-height: 15px;
    font-weight: bolder;
}


.modal-sub{
    margin-left: 100px;
}

.modal-remove{
    float: right;
}
.modal-qty{
    height: 30px;
    width: 50px;
    border: 2px solid black;
    text-align:center;
    font-size: 20px;
    vertical-align: top;
    line-height: 20px;

}
.modal-product-name{
    width: 200px;
    display: inline-block;
}
.modal-product-rupee
{
    margin-left: 30px;
}

#modal-invoice .modal-invoice{
    width: 100%;
    height: 20%;
    
}

@media only screen and (max-width: 600px) {
    .orderpricecontainer{
        font-size: 12px;
        margin-right: -90px;
        
    }
}

@media only screen and (max-width: 600px) {
    .order-product-name{
        
        margin-left: -30px;
        
    }
}





#myForm .myForm{
    width: 100%;
    height: 5%;
    
}

#fieldset-billing{
    font-size: 12px;
    margin-left: 10px;
}



.alert-danger
{
    text-align: center;
}

/* invoice css */
.order-item
{
    width: 100%;
    margin-left: 10%;
    height: 100%
}
.order-product-name,.order-product-rupee,.order-product-price,.orderpricecontainer
{
    /* padding: 2px;s */
    display: inline-block;
    
}
.order-product-price
{
    /* float: right; */
    /* text-align: center; */
    
    letter-spacing: 3px;
}
.orderpricecontainer
{
    /* float: right; */
    position: absolute;
    right: 100px;
}
.place-order
{
    width: 20%;
    margin-left: 40%;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .place-order{
        width: 60%;
    margin-right: 50%;
    padding-bottom: 5px;
    margin-bottom: 10px;

    }
}

.inputQuote{

    margin-left: 600px;
    font-weight: 900;
}

@media only screen and (max-width: 600px) {
    .inputQuote{
        width: 60%;
    margin-left: 40%;
    
    

    }
}


/* order confirmation */
.check-order
{   
    margin-top: 15px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.check-body
{
    text-align: center;
    background-color:whitesmoke;
    font-family: roboto;
    background-image: url('./icons/bg.jpg');
}
#exceed{
    margin-bottom: 0em;
}



.pref{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    color: black;
    margin-bottom: 8px;
    border: 2px solid grey;
    background-color: skyblue;
    padding: 30px;

}

@media only screen and (max-width: 600px) {
    .pref{
        width: 315px;
    

    }
}


@media only screen and (max-width: 600px) {
    .modal-product-rupee{
        margin-left: 100px;
    

    }
}



b{
    width: 150px;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    background-color: #031c29;
    font-size: 13px;
    color:  #c9a96a;
    text-transform: uppercase;
    padding-left: 10px;
  }

  @media only screen and (max-width: 600px) {
    b{
        font-size: 12px;
        width: 350px;
    

    }
}

  .info{
    margin-left: 180px;
  }

  @media only screen and (max-width: 600px) {
    .info{
        margin-left: 30px;
    

    }
}




  .phone{
    margin-left: 210px;
  }

   @media only screen and (max-width: 600px) {
    .phone{
        margin-left: -5px;
    

    }
}

  #myName{
    width: 250px;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 5px;
    background-color: #031c29;
    font-size: 13px;
    color:  #c9a96a;
    text-transform: uppercase;
    padding-left: 40px;
  }


  #show-up{
      
      margin-left: 5px;
  }


  .radbut button{
    text-transform: uppercase;
    width: 200px;
    height: 30px;
    background-color: blue;
    color:white;
    transition: all 0.2s;
    border-radius: 20px;
    border: none;
    font-weight: 900;
    margin-left: 250px;
    margin-bottom: 10px;
    cursor: pointer;
  }



  @media only screen and (max-width: 600px) {
    .radbut button{
        margin-left: 25px;
    

    }
}


@media only screen and (max-width: 600px) {
    #result{
        font-size: 12px;
    

    }
}




  .press button{
      text-transform: uppercase;
    width: 150px;
    height: 30px;
    background-color: blue;
    color:white;
    transition: all 0.2s;
    border-radius: 20px;
    border: none;
    font-weight: 900;
    margin-left: 100px;
    margin-bottom: 10px;
    cursor: pointer;

  }

  @media only screen and (max-width: 600px) {
    .press button{
        margin-left: 7px;
    

    }
}

 



@media only screen and (max-width: 600px) {
    body {
      font-size: 10px;
    }
}